---
import Layout from '../layouts/Layout.astro';
import Nav from '../layouts/navbar.astro';
---

<Layout title="C. A. Wiencke">
		<Nav />
		<div>
			<h2 class="dark:text-white text-center font-bold text-3xl pt-5">Ønsker du å ta Kontakt?<br><a href="mailto:hei@chw.no" class="badge badge-primary p-5 text-xl ">hei@chw.no</a></h2>
		</div>
</Layout>