---
import Layout from '../layouts/Layout.astro';
import Nav from '../layouts/navbar.astro';
import Card from '../components/card.astro';
---

<Layout title="Tech Stack">
		<Nav />
		<div class="flex flex-wrap gap-4 place-content-start m-5">
			<Card 
			year=""
			title="Astro"
			description="The web framework for content-driven websites"
			/>
			<Card 
			year=""
			title="Tailwind CSS"
			description="Rapidly build modern websites without ever leaving your HTML."
			/>
			<Card 
			year=""
			title="Daisy UI"
			description="The most popular component library for Tailwind CSS"
			/>
			<Card 
			year=""
			title="Cloudflare"
			description="DNS, Pages, Pages Functions"
			/>
		</div>
		<div>
			<h2 class="dark:text-white text-center font-bold text-3xl pt-5">Source Code?<br><a href="https://github.com/chrwiencke/Astro-CV" class="badge badge-primary p-5 text-xl" data-astro-prefetch>Astro CV</a></h2>
		</div>

	</Layout>