---
import Layout from '../layouts/Layout.astro';
import Nav from '../layouts/navbar.astro';
import Card from '../components/Card.astro';
---

<Layout title="Utdanning">
		<Nav />
		<div class="flex flex-wrap gap-4 place-content-start m-5">
			<Card 
			year="2022-2023"
			title="Programmering"
			description="Valgfag Programmering i 10ende klasse"
			/>
			<Card 
			year="2023-2024"
			title="Informasjonsteknologi og Medieproduksjon"
			description="IM ved Bleiker VGS"
			/>
			<Card 
			year="2024-2025"
			title="Informasjonsteknologi"
			description="IT ved Bleiker VGS"
			/>
			<Card 
			year="2024-2025"
			title="Praksisplass"
			description="Praksisplass hos Advania"
			/>
		</div>
	</Layout>